<div class=" body about-container">
    <div class=" container bg-light bg-opacity-10">
        <div class="case" style="margin-top: -4%;">
            <h4 style="margin-left: -8%; transform: rotate(90deg); position: fixed; left:0; color:rgb(222, 232, 237); background-color: rgb(0, 0, 255);" class="px-5 fw-semibold rounded-bottom-4">
                ______________Hi, I'M CHAABANI NAJEH
            </h4>
            <div class="row mt- bg-opacity-25">
                <p style="height:25px;"></p>                                  
                <h1 style="text-align: center; width: 90%;" class="bg-gradient text-info fw-semibold">
                    Discover more about me!
                </h1>
                <hr class="w-25 mb-5 position-relative start-50 translate-middle text-bg-danger">
                <div class="row">
                    <div class="about-content col-6 rounded-3 fs-5 text-bg-dark bg-opacity-75">
                        <p class="ms-5">
                            I'm a dedicated <strong class="kw">Frontend Web Developer</strong> specializing in building and managing the front-end of websites and web applications, contributing to the overall <strong class="kw">success of the product</strong> . Take a look at some of my work in the Projects section.
                            I enjoy sharing my knowledge and experiences in Web Development to benefit others in the Dev Community. Connect with me or follow me on LinkedIn and Instagram, where I regularly post valuable content on Web Development and Programming.
                            I'm seeking job opportunities where I can contribute, learn, and grow. If you have an opportunity that aligns with my skills and experience, please feel free to reach out to me.
                        </p>
                    </div>
                    <div class="col-6">
                        <img class="w-100 opacity-75" src=".\.\assets\images\profile-photo.jpg" alt="profile-photo">
                    </div>
                </div>
                <p style="height: 50px;"></p>                                  
                <div class="row mt- bg-dark bg-opacity-25 mx-5 col-11">
                    <h1 style="text-align: center; width: 90%;" class="bg-gradient text-warning fw-semibold mt-5">
                        Skills!
                    </h1>

                    <hr class="w-25 position-relative start-50 translate-middle text-bg-danger">
                     
                    <div class="mb-1 d-flex justify-content-center">
                        <img src=".\.\assets\icons\bootstrap-5-1.svg" alt="bootstrap-logo" style="width: 100px; margin: 20px;">
                        <img src=".\.\assets\icons\angular-icon.svg" alt="angular-logo" style="width: 100px; margin: 20px;">
                        <img src=".\.\assets\icons\spring-3.svg" alt="spring-logo" style="width: 100px; margin: 20px;">
                        <img src=".\.\assets\icons\graphql-logo-2.svg" alt="js-logo" style="width: 100px; margin: 20px;">
                        <img src=".\.\assets\icons\android.svg" alt="angular-logo" style="width: 100px; margin: 20px;">
                    </div>
                    
                    <div class="mb-1 d-flex justify-content-center">

                        <img src=".\.\assets\icons\javascript.svg" alt="js-logo" style="width: 100px; margin: 20px;">
                        <img src=".\.\assets\icons\mysql-3.svg" alt="js-logo" style="width: 100px; margin: 20px;">
                        <img src=".\.\assets\icons\java.svg" alt="js-logo" style="width: 100px; margin: 20px;">
                    </div>

                    <div class="mb-1 d-flex justify-content-center">
                        <img src=".\.\assets\icons\visual-studio-code.svg" alt="js-logo" style="width: 100px; margin: 20px;">
                        <img src=".\.\assets\icons\intellij-idea.svg" alt="js-logo" style="width: 100px; margin: 20px;">
                    </div>

                </div>
                <div class="row mt-5 bg-dark bg-opacity-25 mx-1 col-11">
                    <h1 style="text-align: center; width: 90%;" class="bg-gradient text-success fw-semibold mt-5">
                        Testimony!
                    </h1>
                    <hr class="w-25 mb-5 position-relative start-50 translate-middle text-bg-danger">
                
                    <img class="rounded-circle testimony-image" src=".\.\assets\icons\bha.png" alt="Testimony">
                    <p class="w-50 text-light">
                        "I have had the pleasure of working with Mr Chaabani Najeh for the past two years. During this time, Chaabani has demonstrated exceptional skills in frontend development. His ability to transform complex requirements into seamless, user-friendly interfaces has significantly contributed to our project's success. Najeh is not only a talented developer but also a dedicated team player who is always willing to go the extra mile to ensure the job is done right. I highly recommend Chaabani for any frontend development role."
                    </p>
                    <p class="author">
                        BahaEddine Saadaoui <br>
                        Founder & Chief Executive Officer at RubyProdz
                    </p>
                
                </div>
                
            </div>        
        </div>
    </div>


</div>