@import "bootstrap-icons/font/bootstrap-icons.css";
.body{
    /* background-image: url("./assets/images/about-back.png"); */
    background-image: url("assets/images/301.jpg");
    background-size: cover; /* Optional: Ensures the image covers the entire background */
    background-position: center; /* Optional: Centers the background image */
    background-attachment: fixed; /* Fixe l'image de fond */
    }